<div class='edit-post'>
	Author: <input type="text" id="author" size="50" name="author" value="{{author}}"><br>
	Title: <input type="text" id="title" size="50" name="title" value="{{title}}"><br>
	Content: <input type="text" id="content" style="width: 300px; height: 150px" size="1000" name="content" value="{{content}}">

	<button class='edit-post'>Update</button>
	<button class='cancel'>Cancel</button>
</div>