<div class='add-post'>
	Author: <input type="text" id="author" class="form-control" name="author" placeholder="author"><br>
	Title: <input type="text" id="title" class="form-control" name="title" placeholder="title"><br>
	Content: <textarea type="text" id="content"  name="content" placeholder="content" class="form-control" rows="3"></textarea>

	<button type="button" class="create btn btn-success btn-xs"> Create </button>
	<button type="button" class="cancel btn btn-warning btn-xs"> Cancel </button>
</div>

