<div class='add-post'>
	Author: <input type="text" id="author" size="50" name="author" placeholder="author"><br>
	Title: <input type="text" id="title" size="80" name="title" placeholder="title"><br>
	Content: <input type="text" id="content" style="width: 300px; height: 150px" size="1000" name="content" placeholder="content">

	<button class="create"> Create </button>
	<button class="cancel"> Cancel </button>
</div>

