<div class="bg-success">
	<h4>{{author}} </h4>
	<h3>{{title}} </h3>
	<p>{{content}} </p>
</div>

<button class='delete btn btn-danger btn-xs'> DELETE </button>
<button class='edit btn btn-primary btn-xs'> EDIT </button>

